body {
   background-color: lightskyblue; 
}
.container {
    width: 80%;
    display: flex;
    justify-content: center;
}
.contain{
    border: 2px solid #06283D;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #06283D;
    background-color: #06283D;
    color: white;
    height: 60vh;
    text-align: center;
    margin-left: 150px;
    margin-top: 80px;
    padding: 50px;
}
.tain {
    width: 100%;
}
#width {
    margin: 25px;
}
#height {
    margin: 25px;
}
button {
    margin: 25px;
}
button:hover {
    background-color: #06283D;
}
#answer {
    margin: 25px;
    
}
input {
    padding: 5px;
}
/* @media screen and (max-width: 800px){
    body {

    }
} */